.section-title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.5rem;
    margin: 3rem 0 2rem;
    text-align: center;
    letter-spacing: 1.2px;
    position: relative;
}

    .section-title::after {
        content: '';
        display: block;
        width: 80px;
        height: 3px;
        background-color: var(--primary-light);
        margin: 12px auto 0;
        border-radius: 6px;
    }

.campaign-strip {
    width: 100%;
    background-color: #fff; /* beyaz zemin */
    color: var(--primary-color); /* mor yazı */
    font-weight: 600;
    font-size: 1rem; /* bir tık büyüttüm */
    padding: 19px 0; /* üst-alt boşluğu optimize */
    border-radius: 0;
    margin: 0;
    box-shadow: none;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.4; /* satır yüksekliği eklendi */
}

.campaign-marquee {
    width: 100%;
    overflow: hidden;
}

.campaign-content {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.campaign-item {
    display: inline-block;
    margin-right: 50px;
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.campaign-desc {
    font-style: italic;
    font-weight: 400;
    color: var(--primary-color);
}


.products-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}
