@{
    ViewData["Title"] = "E-Posta Doğrulama";
}


<main>
    <div class="confirm-container">
        <h2>@ViewData["Title"]</h2>

        @if (ViewBag.Message != null)
        {
            <p>@ViewBag.Message</p>
        }
        else
        {
            <p>Doğrulama işlemi sırasında bir hata oluştu. Lütfen tekrar deneyin.</p>
        }

        <a href="@Url.Action("SignIn", "Account")" class="btn-home">Giriş Sayfasına Git</a>
    </div>
</main>
