@using Azure.Core
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims


<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                Selam Tekstil
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Anasayfa</a>
                    </li>
                    @await Component.InvokeAsync("Categories")
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="ContactUs">İletişim</a>
                    </li>
                </ul>

                <form class="search-box me-3" method="get" asp-controller="Home" asp-action="Index">
                    <input type="text" name="q" placeholder="Ürün ara..." value="@ViewData["SearchQuery"]">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>

                <ul class="navbar-nav">
                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <li class="nav-item me-2">
                            <a class="nav-link position-relative" asp-controller="Favorite" asp-action="Index">
                                <i class="fas fa-heart me-1"></i>
                                <span id="favoriteCountBadge" class="position-absolute top-25 start-100 translate-middle badge rounded-pill" style="display:none;"></span>
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" data-bs-toggle="dropdown">
                                <i class="fas fa-user-circle me-1"></i> @User.Identity.Name
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#"><i class="fas fa-user me-2"></i>Profilim</a></li>
                                <li><a class="dropdown-item" asp-controller="Favorite" asp-action="Index"><i class="fas fa-heart me-2"></i>Favorilerim</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form method="post" asp-controller="Account" asp-action="SignOut">
                                        <button type="submit" class="dropdown-item">
                                            <i class="fas fa-sign-out-alt me-2"></i>Çıkış Yap
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item me-2">
                            <a class="btn btn-outline-primary" asp-controller="Account" asp-action="SignIn">
                                <i class="fas fa-sign-in-alt me-1"></i> Giriş Yap
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary" asp-controller="Account" asp-action="SignUp">
                                <i class="fas fa-user-plus me-1"></i> Kayıt Ol
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>

