@model IEnumerable<Slider>

<div class="slider-category-list mt-3">
    @foreach (var item in Model)
    {
        <a href="@item.Link" class="slider-category-item">
            <div class="slider-card">
                <img src="/img/Sliders/@item.Image" alt="@item.Title" class="slider-image">
                <div class="slider-overlay">
                    <h5 class="slider-title">@item.Title</h5>
                    <p class="slider-description">@item.Description</p>
                    <span class="slider-discover-btn">Keşfetmeye Başla</span>
                </div>
            </div>
        </a>
    }
</div>
