@model HomePageViewModel
@{
    ViewData["Title"] = "Anasayfa";
}

<partial name="_Slider" model="Model.Sliders"/>

<div>
    <hr />
     <h2 class="text-center">Dikkatini Çekebilecek Ürünler!</h2>
     <div class="row">
         @foreach (var item in Model.Products)
        {
            <partial name="_ProductView" model="item" />
        }
     </div>
</div>
